{% set title = "Homepage" %} {% extends "base.html" %} {% block meta %}
<!-- INSERT META TAGS HERE -->
{% endblock %} {% block content %}
<h1>{{ site.site.title }}</h1>
<p>{{ site.site.description }}</p>

<h2>Features</h2>
<div class="features">
    {% for feature in site.features %}
    <div class="feature">
        <h3><span class="icon">{{ feature.icon }}</span> {{ feature.title }}</h3>
        <p>{{ feature.description }}</p>
    </div>
    {% endfor %}
</div>

<h2>Information</h2>

<div class="meta-info">
    <code>
        ENV: {{ ENV }} <br />
        URL: <a href="{{ URL }}">{{ URL }}</a> <br />
        VERSION: {{ VERSION }} <br />
        Author: {{ site.site.author }}
    </code>
</div>
{% endblock %} {% block footer %}
<!-- INSERT SCRIPTS IF NEEDED -->
{% endblock %}
